<div class="modal fade modal-center" id="country-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog popup-center" role="document">
        <div class="modal-content invite-popup">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select Country</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 text-center country-img" data-dismiss="modal" (click)="selectCountry('South Africa')">
                        <img src="../../assets/south-africa-img.png" alt="saimg">
                        <h6>South Africa</h6>
                    </div>
                    <div class="col-md-4 text-center  country-img" data-dismiss="modal" (click)="selectCountry('Eswatini')">
                        <img src="../../assets/swaziland-img.png" alt="swimg">
                        <h6>Eswatini</h6>
                    </div>
                    <div class="col-md-4 text-center  country-img" data-dismiss="modal" (click)="selectCountry('Uganda')">
                        <img src="../../assets/Uganda-img.png" alt="uimg">
                        <h6>Uganda</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




