@import url('../../../../../../styles.css');

input.form-control {
  background-image: none !important;
}

.role-header{
  margin-left: 77%;
}
.customer-support{
  margin-top: 10px;
  font-weight: 500;
  margin-right: 7px !important;
}

@media (max-width: 767.98px) {

}

.padding-pn-icn{
  padding-top: 20px;
}

  
